// IMAGES
$bg: url('../../dist/img/bg.jpg');
$joker: url('../../dist/img/joker.png');

// FONT
$base-font: 'Rubik Wet Paint', cursive;

// COLORS
$info-bg: linear-gradient(35deg, rgb(38, 38, 38), rgb(9, 60, 18));
$info-input: rgb(80, 80, 80);
$info-accent: #1b906b;
$light-color: #dedede;
$main-bg: rgb(57, 57, 57);
$border-color: #000;
